/* Font Imports */
@import url('https://fonts.cdnfonts.com/css/poppins');

/* Selector All */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Personalised Colors */
:root {
    --darkBlue: #053B50;
    --normalBlue: #176B87;
    --clearBlue: #64CCC5;
    --normalGrey:#EEEEEE;
}

/* Navbar and Footer Commands */
.bg-color-darkBlue {
    background-color: var(--darkBlue);
}

.bg-color-normalBlue {
    background-color: var(--normalBlue);
}

.text-color-footer-navbar {
    color: var(--normalGrey);
}

.navbar-nav .nav-link {
    color: var(--normalGrey)
}

/* HomePage commands */
.banner {
    width: 100%;
    height: auto;
}

.align-text-p {
    text-align: justify
}
