<div class="container">
    <div class="row m-3">
      <div class="col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet accusamus necessitatibus deleniti ullam exercitationem, deserunt veniam! Nihil fugiat numquam beatae ex rem ea? Dolore porro animi dolores dolorum totam aspernatur, vitae quos, fuga velit illo eum odit veniam placeat, reprehenderit asperiores rem quasi explicabo quia id quisquam! Fugit repellendus vitae obcaecati officiis, nesciunt quis iste pariatur, optio aspernatur cumque animi quod maiores. Eveniet fuga cum, quae, vel fugiat deserunt optio suscipit, laudantium eaque quasi quibusdam perspiciatis fugit dolorum vitae. Quibusdam, asperiores assumenda! Explicabo optio ipsa autem excepturi dicta! Officiis repellat nobis assumenda perspiciatis maiores iusto at nemo ex ducimus.</div>
      <div class="col-6">
        <img class="w-100 rounded-1" src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" alt="">
      </div>
    </div>
    <div class="row m-3">
      <div class="col-6 ">
        <img class="w-100 rounded-1" src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" alt="">
      </div>
      <div class="col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet accusamus necessitatibus deleniti ullam exercitationem, deserunt veniam! Nihil fugiat numquam beatae ex rem ea? Dolore porro animi dolores dolorum totam aspernatur, vitae quos, fuga velit illo eum odit veniam placeat, reprehenderit asperiores rem quasi explicabo quia id quisquam! Fugit repellendus vitae obcaecati officiis, nesciunt quis iste pariatur, optio aspernatur cumque animi quod maiores. Eveniet fuga cum, quae, vel fugiat deserunt optio suscipit, laudantium eaque quasi quibusdam perspiciatis fugit dolorum vitae. Quibusdam, asperiores assumenda! Explicabo optio ipsa autem excepturi dicta! Officiis repellat nobis assumenda perspiciatis maiores iusto at nemo ex ducimus.</div>
    </div>
  </div>
