/* Importar a fonte Open Sans e a fonte Tilt Neon */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon:wght@400;700&display=swap");

/* Importar fonte Awesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

/* Declare variables */
:root {
    /* Color variables */
    --main-color: #4b4e6d;
    --main-color2: #84dcc6;
    --btn-hover: #84dcc6;
    --shadow-hover: #4b4e6d76;
    --shadow-hover2: #97e8d4dc;
    --white: white;
    --btn-text: white;
    --text-color: black;
    --scroll-bar-bgcolor: #4b4e6d;
    --scroll-bar-color: #84dcc6;
    --scroll-bar-color-hover: #20d7a9;

    /* Size */
    --size-large: 3.5em;
    --size-medium: 2.5em;

    /* Box-shadow */
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.355);
}

/* SElECTION */
::selection {
    background-color: rgb(167, 208, 255);
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(169, 169, 169);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-color-hover);
}

/* Cursor */

body {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

a {
    text-decoration: none;
}

/* Headings */
h1 {
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: var(--main-color);
    margin-bottom: 30px;
    font-weight: bold;
}

h3,
h4 {
    color: var(--main-color);
}

.w-90 {
    width: 90%;
}

.container {
    margin: 50px auto;
}

/* Buttons style */
.button-link {
    background-color: var(--main-color2);
    color: rgb(18, 18, 18);
    padding: 0.8em 1.2em;
    text-decoration: none;
    border: none;
    border-radius: 2em;
    margin-top: 20px;
    font-weight: 600;
    transition: 0.3s;
}

.button-link:hover {
    box-shadow: 1px 1px 6px 1px var(--shadow-hover);
}

.banner .button-link:hover {
    box-shadow: 1px 1px 6px 1px var(--shadow-hover2);
}

/* Navbar */
.navbar {
    background-color: var(--main-color);
    padding: 10;
}

.navbar ul {
    flex-wrap: wrap;
    overflow-x: hidden;
}

.navbar img {
    height: 40px;
    width: auto;
}

.navbar-toggler {
    color: white;
    font-size: 25px;
}

/* Tira o efeito do navbar toogler */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar li {
    margin: 5px 0;
}

.navlink {
    color: var(--white);
    font-size: 1.2em;
    padding: 6px 9px;
    margin: 0px 15px;
    text-decoration: none;
    transition: 0.2s;
}

.navlink:hover {
    color: var(--main-color2);
}

.links-registration {
    display: flex;
}

.links-registration i span,
.links-registration-992 i span {
    font-family: "Open Sans";
    font-weight: 400;
}

.links-registration-992 {
    display: none;
}

@media only screen and (max-width: 992px) {
    .navbar-brand {
        display: none;
    }

    .navlink {
        margin-left: 10px;
    }

    .links-registration {
        margin-left: 17px;
        display: none;
    }

    .links-registration-992 {
        display: flex;
    }
}

/* Container */
.container-content {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 76.5vh;
}

section {
    margin: 10px 0;
}

/* Footer */
footer {
    color: var(--white);
    background-color: var(--main-color);
}

/* Buttons */

.btn-link {
    background-color: var(--main-color);
    color: var(--btn-text);
    font-size: 1em;
    padding: 0.4em 0.7em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
}

.btn-link:hover {
    background-color: var(--btn-hover);
    color: var(--white);
}

.btn-large {
    font-size: 1.2em;
}

.btn-radius {
    text-align: center;
    border-radius: 50%;
    padding: 0.8em 1.5em;
    transition: 0.2s;
}

.btn-user {
    margin-right: 15px;
}


@media only screen and (max-width: 992px) {
    .btn-user {
        margin-right: 0px;
        margin-left: 5px;
    }
}


/* Registration student */

.success-message {
    min-height: 76.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.success-message p {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 50px;
}

.btn-form {
    font-size: 1em;
}


/* RECUPERAR PW */
.back-login {
    display: flex;
    flex-direction: row;
}

.back-login a {
    color: black;
}

.back-login span {
    margin-left: 5px;
}

.back-login span:hover {
    border-bottom: 1px solid var(--main-color);
}


/* HOME */

/* Banner */
.banner {
    margin: 0;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-image: url("https://gcdnb.pbrd.co/images/PkXQ10x3nTld.png?o=1");
    background-position: top right;
    background-size: cover;
}

.banner h1 {
    color: white;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner h2 {
    color: var(--main-color2);
    margin-bottom: 50px;
    font-weight: 400;
}

.banner .button-link {
    font-size: 1.1em;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-wrapper .button-link {
    color: black;
}

.flip3D {
    width: 300px;
    height: 280px;
}

.card {
    background-color: var(--white);
    width: 300px;
    height: 260px;
    border-radius: 15px;
    backface-visibility: hidden;
    transition: transform 0.5s linear 0s;
    position: absolute;
    text-align: center;
    border: 4px solid var(--main-color);
    text-align: center;
    margin-top: 15px;
}

.front,
.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.card .back {
    background-color: var(--white);
    border: 2px solid var(--main-color2);
}

.flip3D>.front {
    transform: perspective(900px) rotateY(0deg);
}

.flip3D>.back {
    transform: perspective(900px) rotateY(180deg);
    z-index: 1;
}

.flip3D:hover>.front {
    transform: perspective(900px) rotateY(-180deg);
}

.flip3D:hover>.back {
    transform: perspective(900px) rotateY(0deg);
}

.welcome-message img {
    width: 50%;
}

@media only screen and (max-width: 992px) {
    .welcome-message img {
        width: 80%;
    }
}

/* Sobre nós */
.sobre-nos h1 {
    text-align: center;
}

.sobre-nos h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sobre-nos h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sobre-nos section {
    margin: 20px 0;
}

/* Teste Vocacional Intro */
.teste-vocacional-intro {
    background-color: #84dcc60b;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: var(--box-shadow);
}

.teste-vocacional-intro h1 {
    text-align: center;
}

.teste-vocacional-intro a {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: auto;
}


@media only screen and (max-width: 768px) {
    .sobre-nos .topics {
        margin-left: 30px;
    }
}

/* Teste vocacional */
#form-teste {
    width: 1800px;
    margin: auto;
    padding: 100px 130px;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Tilt Neon";
    font-size: 30px;
    position: relative;
}

.pergunta {
    user-select: none;
}

.pergunta-base {
    text-align: center;
    font-family: "Tilt Neon";
    font-size: 20px;
}

.questao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: var(--size-large);
    margin-bottom: 20px;
    height: 250px;
    font-family: "Tilt Neon";
    padding: 4px;
    border-radius: 5px;
    border: 4px solid var(--main-color);
}

.resposta {
    font-size: var(--size-medium);
    display: flex;
    justify-content: center;
    gap: 200px;
    font-family: "Tilt Neon";
    margin: 40px 0;
}

.btns-form {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

@media only screen and (max-width: 1700px) {
    #form-teste {
        width: 95%;
        margin: auto;
        padding: 100px 130px;
        height: 90vh;
    }

    .questao {
        font-size: 3em;
    }
}

@media only screen and (max-width: 1350px) {
    #form-teste {
        width: 100%;
        margin: auto;
        padding: 100px 130px;
    }

    .questao {
        font-size: 2.5em;
        height: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    #form-teste {
        width: 100%;
        margin: auto;
        padding: 100px 100px;
    }

    .questao {
        font-size: 2em;
        height: 180px;
    }

    .resposta {
        font-size: 2em;
        gap: 10%;
    }
}

@media only screen and (max-width: 768px) {
    #form-teste {
        width: 100%;
        margin: auto;
        padding: 80px 50px;
    }

    .feedback {
        font-size: 20px;
    }

    .questao {
        font-size: 1.6em;
        height: 210px;
    }

    .resposta {
        font-size: 1.6em;
    }
}


@media only screen and (max-width: 600px) {
    .feedback {
        justify-content: flex-start;
        font-size: 1em;
    }

}


.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to right,
            var(--main-color) 0%,
            var(--main-color2) 8%,
            hsl(248, 39%, 39%) 92%,
            hsl(182, 39%, 29%) 100%);
}

.front2 {
    display: block;
    position: relative;
    border-radius: 8px;
    background: var(--main-color);
    padding: 16px 32px;
    color: white;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.6em;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}


@media only screen and (max-width: 768px) {
    .front2 {
        padding: 15px 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: 0.55em;
    }
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front2 {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front2 {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.teste-vocacional {
    height: 700px;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.teste-vocacional a {
    color: white;
}

.progress-bar {
    background-color: #f0f0f0;
    height: 15px;
    width: 100%;
}

.progress {
    background-color: var(--main-color2);
    /* Cor da barra de progresso (por exemplo, azul) */
    height: 100%;
    width: 0;
    /* Inicialmente a largura é 0 */
    transition: width 0.3s;
    /* Adiciona uma transição suave à largura */
}

/* Ocultar os radio buttons */
.resposta-label input[type="radio"] {
    display: none;
}

/* Estilizar as respostas */
.resposta-label {
    cursor: pointer;
}

.resposta-label input[type="radio"]+.resposta-text {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Estilizar respostas selecionadas */
.resposta-label input[type="radio"]:checked+.resposta-text {
    border-radius: 5px;
    border: 2px solid var(--main-color);
    padding: 5px 10px;
}

/* Teste Vocacional Resultados */

.card-container {
    width: 326, 25px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 0.95em;
}

.card2 {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card2 .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2 .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg,
            var(--main-color) 0%,
            var(--main-color2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    text-align: center;
    padding: 20px 20px;
}

.card2 .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg,
            var(--main-color) 0%,
            var(--main-color2));
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateX(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2 .content .heading2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.card2:hover .content {
    transform: translateY(0);
}

.card2:hover .front-content {
    transform: translateX(-30%);
}

.card2:hover .front-content p {
    opacity: 0;
}

.row,
.card-container {
    margin-bottom: 10px;
}

.btn-download-pdf {
    display: flex;
    justify-content: flex-end;
}

/* Forms */
.heading {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 300px;
    margin: auto;
    padding: 1px;
}

.heading .active {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.heading a {
    border-radius: 20px;
    border: 1px solid var(--main-color);
    text-decoration: none;
    font-size: 1.2em;
}

.heading .non-active {
    background-color: white;
    color: var(--main-color);
    padding: 10px;
}

.container-form {
    height: 90%;
    width: 90%;
    font-size: 0.85em;
}

.form-input input {
    font-size: 0.95em;
    height: 35px;
}

.formulario,
.perfil {
    box-shadow: var(--box-shadow);
    margin: 60px auto;
    border-radius: 40px;
    font-size: 1.1em;
}

.formulario label {
    font-weight: 600;
    margin-bottom: 5px;
}

.formulario label .form-font-normal {
    font-weight: 300;
}

.formulario .form {
    padding: 0 100px;
}

@media only screen and (max-width: 1200px) {
    .formulario .form {
        padding: 0 50px;
    }
}

form {
    padding: 20px;
}

.form-group {
    margin: 12px 0;
}

.form-margin {
    margin-left: 12px;
    margin-bottom: 15px;
}

.form-recup-pw a {
    font-size: 0.9em;
    color: black;
    text-align: right;
}

.form-recup-pw a:hover {
    text-decoration: underline;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(-50deg,
            var(--main-color) 40%,
            var(--main-color2));
    border-radius: 40px;
    text-align: center;
}

.section h3 {
    color: white;
}

/* .form-radio {
    display: flex; 
    align-items: center;
    gap: 20px;
}
 */

@media only screen and (max-width: 992px) {
    .section {
        padding: 40px;
        margin-top: 50px;
        border-radius: 40px;
        width: 93%;
        margin: 13px auto;
        order: 1;
    }

    .form {
        order: 2;
    }
}

@media only screen and (max-width: 768px) {
    .container-form {
        width: 90%;
    }
}

.formulario .form .termos {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.formulario .form button {
    display: block;
    width: 99%;
    margin: auto;
}

/* Estilo para a imagem */
/* .form-image {
    height: 100%;
    display: flex;
    padding: 0;

}

.form-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
} */

/* Contactos */

.form-message {
    width: 85%;
    margin: auto;
}

.message {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 80%;
    margin: 20px auto;
}

.message form {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    margin: 20px auto;
    margin-top: 75px;
    /*     border: 10px solid var(--main-color); */
    box-shadow: 1px 1px 5px 1px var(--main-color);
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.message .form-image {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    /*     border: 10px solid var(--main-color); */
    box-shadow: 1px 1px 5px 1px var(--main-color);
    border-radius: 20px;
    text-align: center;
}

.message form img {
    width: 100px;
}

.message form input,
.message form textarea {
    padding: 12px;
    margin: 12px auto;
    color: var(--main-color);
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    display: block;
    width: 60vw;
}

.message form textarea {
    height: 150px;
    resize: none;
}

.message form input::placeholder,
.message form textarea::placeholder {
    color: grey;
}

.message form input:focus,
.message form textarea:focus {
    border: 4px solid #84dcc696;
    outline: 1px var(--main-color2);
}

.message .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .message {
        width: 100%;
    }
}

/* Fallback */

.fallback h1 {
    margin-top: 40px;
    text-align: center;
}

.fallback {
    margin: 100px auto;
}

.fallback section {
    background-color: var(--white);
    padding: 60px 25px;
    margin: 20px auto;
    border: 10px solid var(--main-color);
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.fallback .top {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border: 10px solid var(--main-color);
    border-radius: 20px;
    text-align: center;
}

.fallback img {
    width: 150px;
}

.fallback p {
    padding: 12px;
    margin: 12px auto;
    color: var(--main-color);
    border-radius: 10px;
    display: block;
    width: 60vw;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#filtros-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    max-width: 800px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.filtro-section {
    flex: 1;
    max-width: 300px;
    margin: 10px 5px;
}

.filter-label {
    font-size: 18px;
}


/* Estatísticas */
.card_resultados_tv {
    width: 326px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: all 0.3s ease;
    border: #4b4e6d 0.2em solid;
    justify-content: center;
    align-items: center;
}

.card_resultados_tv_titulo {
    height: 170px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: #4b4e6d;
    padding: 20px 10px 0 10px;
}

.card_resultados_tv_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
}

.card_resultados_tv_content .card_resultados_tv_generoF {
    padding-left: 15px;
}

.card_resultados_tv_generoM,
.card_resultados_tv_generoF {
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    color: #4b4e6d;
}

.card_resultados_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}


.resultados-estatisticos select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    font-size: 16px;
}

#resultados {
    background-color: var(--white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.resultados-estatisticos table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultados-estatisticos th,
.resultados-estatisticos td {
    border: 2px solid var(--border-grey);
    padding: 10px;
}

.resultados-estatisticos tr:nth-child(even) {
    background-color: #f7f7f7;
}

.resultados-estatisticos th {
    background-color: var(--main-color);
    color: var(--white);
}

.resultados-estatisticos td:hover {
    background-color: var(--shadow-hover2);
}

.resultados-estatisticos input[type="text"] {
    padding: 10px;
    border: 2px solid var(--main-color);
}

.resultados-estatisticos label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #filtros-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtro-section {
        max-width: 80%;
    }
}

/* Perfil */
.perfil {
    padding: 10px;
}

.avatar {
    width: 50%;
    margin: auto;
}

.perfil img {
    width: 100%;
    border-radius: 100%;
    border: 1px solid var(--main-color);
    margin-bottom: 30px;
}

.dados-perfil {
    font-size: 0.95em;
}

.dados-perfil table {
    border-collapse: separate;
    border-spacing: 9px;
    /* Altere o valor conforme desejado */
}

.dados-perfil td {
    padding: 1px;
}

@media only screen and (max-width: 768px) {
    .dados-perfil {
        display: flex;
        justify-content: center;
    }
}

.animation-questions {
    display: none;
    width: 100%;
    min-height: 87vh;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.animation-questions-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-questions-card {
    width: 500px;
    max-width: 80%;
    height: 400px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-questions-card p {
    text-align: center;
    font-size: 30px;
    font-family: "Tilt Neon";
    color: var(--main-color);
}

.animation-questions-card img {
    height: 300px;
    margin-left: -30px;
}

#imagegif {
    user-select: none
}